<h4 class="ui top attached header">
	{{.Title}}
	<div class="ui right">
		<div class="ui jump dropdown">
			<div class="ui primary tiny button">{{.locale.Tr "repo.settings.add_webhook"}}</div>
			<div class="menu">
				<a class="item" href="{{.BaseLinkNew}}/forgejo/new">
					<img width="20" height="20" src="{{AssetUrlPrefix}}/img/forgejo.svg">{{.locale.Tr "repo.settings.web_hook_name_forgejo"}}
				</a>
				<a class="item" href="{{.BaseLinkNew}}/gitea/new">
					<img width="20" height="20" src="{{AssetUrlPrefix}}/img/gitea-original.svg">{{.locale.Tr "repo.settings.web_hook_name_gitea"}}
				</a>
				<a class="item" href="{{.BaseLinkNew}}/gogs/new">
					<img width="20" height="20" src="{{AssetUrlPrefix}}/img/gogs.ico">{{.locale.Tr "repo.settings.web_hook_name_gogs"}}
				</a>
				<a class="item" href="{{.BaseLinkNew}}/slack/new">
					<img width="20" height="20" src="{{AssetUrlPrefix}}/img/slack.png">{{.locale.Tr "repo.settings.web_hook_name_slack"}}
				</a>
				<a class="item" href="{{.BaseLinkNew}}/discord/new">
					<img width="20" height="20" src="{{AssetUrlPrefix}}/img/discord.png">{{.locale.Tr "repo.settings.web_hook_name_discord"}}
				</a>
				<a class="item" href="{{.BaseLinkNew}}/dingtalk/new">
					<img width="20" height="20" src="{{AssetUrlPrefix}}/img/dingtalk.ico">{{.locale.Tr "repo.settings.web_hook_name_dingtalk"}}
				</a>
				<a class="item" href="{{.BaseLinkNew}}/telegram/new">
					<img width="20" height="20" src="{{AssetUrlPrefix}}/img/telegram.png">{{.locale.Tr "repo.settings.web_hook_name_telegram"}}
				</a>
				<a class="item" href="{{.BaseLinkNew}}/msteams/new">
					<img width="20" height="20" src="{{AssetUrlPrefix}}/img/msteams.png">{{.locale.Tr "repo.settings.web_hook_name_msteams"}}
				</a>
				<a class="item" href="{{.BaseLinkNew}}/feishu/new">
					<img width="20" height="20" src="{{AssetUrlPrefix}}/img/feishu.png">{{.locale.Tr "repo.settings.web_hook_name_feishu_or_larksuite"}}
				</a>
				<a class="item" href="{{.BaseLinkNew}}/matrix/new">
					{{svg "gitea-matrix" 20 "img"}}{{.locale.Tr "repo.settings.web_hook_name_matrix"}}
				</a>
				<a class="item" href="{{.BaseLinkNew}}/wechatwork/new">
					<img width="20" height="20" src="{{AssetUrlPrefix}}/img/wechatwork.png">{{.locale.Tr "repo.settings.web_hook_name_wechatwork"}}
				</a>
				<a class="item" href="{{.BaseLinkNew}}/packagist/new">
					<img width="20" height="20" src="{{AssetUrlPrefix}}/img/packagist.png">{{.locale.Tr "repo.settings.web_hook_name_packagist"}}
				</a>
			</div>
		</div>
	</div>
</h4>
<div class="ui attached segment">
	<div class="ui list">
		<div class="item">
			{{.Description | Str2html}}
		</div>
		{{range .Webhooks}}
			<div class="item truncated-item-container">
				<span class="text {{if eq .LastStatus 1}}green{{else if eq .LastStatus 2}}red{{else}}grey{{end}} gt-mr-3">{{svg "octicon-dot-fill" 22}}</span>
				<a class="text truncate gt-f1 gt-mr-3" title="{{.URL}}" href="{{$.BaseLink}}/{{.ID}}">{{.URL}}</a>
				<a class="muted gt-p-3" href="{{$.BaseLink}}/{{.ID}}">{{svg "octicon-pencil"}}</a>
				<a class="delete-button gt-p-3" data-url="{{$.Link}}/delete" data-id="{{.ID}}">{{svg "octicon-trash"}}</a>
			</div>
		{{end}}
	</div>
</div>
