{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content install post-install">
	<div class="ui container">
		<div class="ui grid">
			<div class="sixteen wide column content">
				<div class="home">
					<div class="ui stackable middle very relaxed page grid">
						<div class="sixteen wide center aligned centered column">
							<div>
								<img src="{{AssetUrlPrefix}}/img/forgejo-loading.svg" alt="{{.locale.Tr "loading"}}" width="256" height="256">
							</div>
						</div>
					</div>
					<div class="ui stackable middle very relaxed page grid">
						<div class="sixteen wide center aligned centered column">
							<p><a id="goto-user-login" href="{{AppSubUrl}}/user/login">{{.locale.Tr "loading"}}</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
